<div class="space-item card" style="width: 15rem;">
    <img class="card-img-top" src="{{ product.pr_img }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ product.pr_name }}</h5>
        <p class="card-text">{{ product.pr_description }}</p>
        <div class="mt-10 col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="mt-10 col-6 col-md-6 col-lg-6 col-xl-6">
                    <h6>${{ product.pr_price | number }} Und.</h6>
                </div> 
                <div class="mt-10 col-6 col-md-6 col-lg-6 col-xl-6">
                    <h6>Cant. {{ product.pr_quantity }}</h6>
                </div> 
            </div>
        </div>
        <div class="mt-10 col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="mt-10 col-4 col-md-4 col-lg-4 col-xl-4"> 
                    <button (click)="less()" type="button" class="btn btn-outline-secondary btn-block">-</button>
                </div>
                <div class="mt-10 t-center col-4 col-md-4 col-lg-4 col-xl-4"> 
                <h4>{{q}}</h4>
                </div>
                <div class="mt-10 col-4 col-md-4 col-lg-4 col-xl-4"> 
                    <button (click)="more()" type="button" class="btn btn-outline-secondary btn-block">+</button>
                </div>
            </div>
        </div> 
        <div class="mt-10 col-12 col-md-12 col-lg-12 col-xl-12">
            <button *ngIf="!checked" (click)="addProduct()" type="button" class="btn btn-outline-success btn-block">Agregar al carrito</button>
            <button *ngIf="checked" (click)="removeProduct()" type="button" class="btn btn-outline-danger btn-block">Quitar del carrito</button>
        </div>
    </div>
</div>


      
