<section class="pd container mb-50"> 
    <div class="mt-50 col-12 col-md-12 col-lg-12 col-xl-12">
        <div>
            <h1>Compra a realizar</h1>
        </div>
        <div class="mt-50 col-12 col-md-12 col-lg-12 col-xl-12">
            <ng-container *ngIf="!good">
                <ng-container *ngIf="listProduct.length > 0">
                        <div *ngFor="let p of listProduct" class="row border-product">
                                <div class="col-6 col-md-2 col-lg-2 col-xl-2">
                                    <img class="cars_payment-img" src="{{ p.pr_img }}">
                                </div>
                                <div class="col-6 col-md-2 col-lg-3 col-xl-3">
                                    <h5>{{ p.pr_name }}</h5>
                                </div>
                                <div class="col-8 col-md-4 col-lg-3 col-xl-3">
                                    <div class="row">
                                        <div class="col-3 col-md-4 col-lg-4 col-xl-4"> 
                                            <button (click)="less(p)" type="button" class="btn btn-outline-secondary btn-block">-</button>
                                        </div>
                                        <div class="t-center col-4 col-md-4 col-lg-4 col-xl-4"> 
                                            <h4>{{ p.cantSelect }}</h4>
                                        </div>
                                        <div class="col-3 col-md-4 col-lg-4 col-xl-4"> 
                                            <button (click)="more(p)" type="button" class="btn btn-outline-secondary btn-block">+</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-1 col-md-2 col-lg-2 col-xl-2">
                                    <h5>{{ p.priceItemsTotal | number}}</h5>
                                </div> 
                        </div>
                        <div class="border_"></div>
                        <div class="mt-10 col-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="row">
                                <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                    <h4>Total</h4>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                    <h4>${{ total | number }}</h4>
                                </div>
                                <div class="col-4 col-md-4 col-lg-4 col-xl-4">
                                    <button (click)="payment()" type="button" class="btn btn-outline-success btn-block">Pagar</button>
                                </div>
                            </div>
                        </div>
                </ng-container>
                <ng-container *ngIf="listProduct.length == 0">
                    <div class="mt-50 alert alert-danger" role="alert">
                        No hay ningun producto agregado al carrito
                    </div>
                </ng-container>
            </ng-container>
            <ng-container *ngIf="good">
                <div class="mt-50 alert alert-success" role="alert">
                    Tu compra se efectuo correctamente
                </div>
            </ng-container>
        </div> 
    </div>
</section>
