<section>
    <div>
        <img src="assets/images/cars-payment.jpg" class="img_home d-block w-100" alt="...">
    </div>
</section>
<section class="col-12 col-md-12 col-lg-12 col-xl-12 mt-50">
    <div class="container">
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row mb-10">
                <div class="col-6 col-md-4 col-lg-4 col-xl-4">
                    <h5><i class="fas fa-cart-arrow-down f-s-30"></i><span> {{ listProduct.length }} productos</span></h5>
                </div>
                <div class="col-5 col-md-4 col-lg-4 col-xl-4">
                    <button (click)="goPayment()" type="button" class="btn btn-outline-primary">Pagar</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-12 col-lg-12 col-xl-12">
            <div class="row">
                <div class="mb-10 col-12 col-md-12 col-lg-12 col-xl-12">
                    <button (click)="search = '*'" type="button" class="btn btn-outline-primary btn-block">Todos</button>
                </div>
                <div *ngFor="let data of categories" class="mb-10 col-12 col-md-3 col-lg-3 col-xl-3">
                    <button (click)="search = data.id" type="button" class="btn btn-outline-success btn-block">{{ data.ct_name }}</button>
                </div>
            </div>
        </div>
        <div class="row center-force t-center mt-50">
            <div *ngFor="let p of products">
                <app-product (productSelect)="addProductList($event)" (productDelete)="removeProduct($event)"  *ngIf="search == '*' || search == p.idcategory" [product]="p"></app-product>
            </div> 
        </div>
    </div>
</section>
