/* You can add global styles to this file, and also import other style files */
.t-center{
    text-align: center;
}
.mt-50 {
    margin-top: 50px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-50{
    margin-bottom: 50px;
}
.mt-100{
    margin-top: 100px;
    margin-bottom: 30px;
}
.border_{
    border-bottom: 2px solid #000;
    margin-top: 80px;
}
.center-force{
    justify-content: center;
}
.space-item{
    margin-right: 20px;
    margin-bottom: 20px;
}
.pointer{
    cursor: pointer;
}